.modalTitle {
    font-size: 1rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .modalTitle {
        font-size: 2rem;
    }
}

/* Header */
.header-container {
    display: flex;
    flex-flow: row nowrap;
}

.header-container__wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 80%;
    justify-content: center; 
}

.header-container__close-wrapper {
    display: flex;
}